.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff69b4 0%, #ffb6c1 100%);
}

.btn-primary {
  background-color: #ff69b4;
  border-color: #ff69b4;
}

.btn-primary:hover {
  background-color: #ff1493;
  border-color: #ff1493;
}

.login-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  padding:30px
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}